@import './variables.css';
@import './material.css';
@import './animations.css';

.text-dark-med {
  color: var(--text-dark-med);
}

.text-del {
  color: var(--delete);
}

.text-sec-light {
  color: var(--secondary-light);
}

.text-dis {
  color: var(--text-dark-disabled)
}

.point {
  cursor: pointer;
}

.drop-shadow {
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.App {
  text-align: center;
  max-width: 1600px;
  margin: auto;
}

.App-logo {
  height: 2.5rem;
  pointer-events: none;
  margin: 0.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 1rem;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.hide {
  display: none;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 4px;
  border: none;
  color: white;
  max-width: 15rem;
  min-width: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.85rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn>span {
  margin-left: 0.5rem;
}

a.btn {
  height: 1rem;
}

.toast-btn {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #9a0007;
}

.opt-btn {
  margin: 0;
  display: flex;
  align-items: center;
  color: black;
  background-color: var(--secondary);
  border: solid 1px black;
}

.btn:hover {
  background-color: var(--primary-dark);
  cursor: pointer;
}

.opt-btn:hover {
  color: black;
  background-color: var(--secondary);
  border: solid 1px black;
}

.btn-del, .btn-del:hover {
  background-color: var(--delete);
}

.btn-green, .btn-green:hover {
  background-color: var(--app-green);
}

.btn-white, .btn-white:hover {
  background-color: white;
  color: var(--text-dark);
  border: solid 1px var(--input-border);
}

.btn-dark, .btn-dark:hover {
  background-color: var(--secondary-dark);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--secondary);
}

.btn-sec, .btn-sec:hover, .btn-sec:focus {
  background-color: var(--secondary);
  color: black;
}

.btn-inactive, .btn-inactive:hover, .btn-inactive:focus {
  background-color: #bdbdbd;
  color: var(--text-dark-disabled);
  box-shadow: none;
  cursor: default;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.card-title {
  font-size: 1.5rem;
}

.scaled-img {
  width: 100%;
  object-fit: contain;
}

input, select {
  background-color: white;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  max-width: 280px;
  min-height: 32px;
  text-align: center;
  outline: none;
}

input:focus, select:focus {
  border-color: var(--primary);
}

.rs-title {
  margin: 1rem 0 0.5rem 0;
}

.ongoing-game {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  padding: 0.5rem;
  background-color: var(--primary-dark);
  color: var(--text-light);
}

@media (min-width: 600px) {
  .ongoing-game {
    width: 450px;
    left: 50%;
    bottom: 2rem;
    border-radius: 8px;
    transform: translateX(-50%);
  }
}

.ongoing-game-title {
  margin: 0.5rem 0;
}

.pad-btm-alert {
  padding-bottom: 6rem;
}

@media (min-width: 600px) {
  .pad-btm-alert {
    padding-bottom: 8rem;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1020;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
}