.home-primary {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.home-secondary {
  font-size: 1.5rem;
}

.home-main {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home-no-login {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 1rem 0;
}

#home-info {
  display: flex;
  flex: 1 1 30rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 1rem;
  max-width: 35rem;
}

.home-screenshot-card {
  flex-basis: 500px;
  flex-grow: 1;
  max-width: 750px;
  margin: 0 1rem;
  padding: 1rem;
  justify-content: center;
}

.home-btn-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 150px;
}

.home-pad-btm-alert {
  min-height: calc(100vh - 72px - 6rem);
}

.credits-user {
  position: fixed;
  bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.credits-nouser {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 0.5rem;
}

#github-link {
  margin: 0 0.5rem;
}

@media (min-width: 600px) {
  .home-pad-btm-alert {
    min-height: calc(100vh - 72px - 8rem);
  }
  .credits-user {
    bottom: 2rem;
  }
}