.new-game-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-setup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30rem;
  max-width: 90vw;
}

.game-setup select, .game-setup .btn-container {
  width: 100%;
}

#opponent-input {
  width: calc(100% - 12px);
  padding: 4px 6px;
  text-align: left;
}

.input-filter {
  margin: 0;
  width: calc(100vw - 3rem);
  max-width: calc(480px - 1rem);
  max-height: 200px;
  overflow: auto;
}

.filtered-opp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 2rem;
  padding: 0 0.5rem;
}

.filtered-opp:hover {
  background-color: var(--primary-select);
  cursor: pointer;
}

.btn-container > .player-input {
  flex-grow: 3;
}

.rs-options-2 {
  display: flex;
  width: 100%;
}

.rs-options-2-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.rs-left {
  padding-right: 0.5rem;
}

.rs-right {
  padding-left: 0.5rem;
}

.game-opt-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}