.profile-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-title {
  margin: 0.5rem 0;
  font-size: 14px;
}

.profile-display {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0.5rem;
  cursor: pointer;
}

.profile-img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  justify-items: center;
  width: calc(100% - 2rem);
  padding: 1rem;
}