.game-info {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: center;
}

.score-card {
  display: flex;
  flex: 1 1 0px;
  min-width: 130px;
  max-width: calc(50vw - 2rem);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.dark {
  background-color: var(--secondary-dark);
  color: var(--text-light);
}

.score-team {
  max-width: calc(100% - 2rem);
  word-wrap: break-word;
}

.score-text {
  font-size: x-large;
  padding-left: 1rem;
}

.selected {
  background-color: var(--primary-select);
}

.player-checkbox {
  margin: 0 0.5rem;
  cursor: pointer;
}