.team-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0;
}

.team-title-container>i {
  position: relative;
  right: -1rem;
}

.team-name-input {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

#add-player-header {
  color: var(--text-dark-med);
  margin: 0.5rem;
}

.add-player-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.player-input {
  flex: 3 1 0px;
  margin: 0.5rem;
  padding: 6px;
}

.form-error {
  color: var(--app-red);
  flex-grow: 0;
  margin: 4px 0.5rem;
  font-size: 0.9rem;
}

.player-list-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

.sort-select {
  display: flex;
  align-items: center;
}

.sort-select > span {
  margin: 0 0.25rem 0 0.5rem;
}

.player-list {
  width: 100vw;
  max-width: 800px;
  padding: 0.5rem 0;
}

.player-list-item {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: calc(100% - 1rem);
  padding: 0.25rem 0.5rem;
  height: 3rem;
  border-bottom: 1px solid var(--input-border);
}

.player-list-headers {
  color: var(--text-dark-med);
}

.player-num-header {
  flex: 1 1 2.5rem;
}

.player-name-header {
  flex: 3 1 280px;
}

.i-placeholder {
  width: 24px;
  height: 24px;
}

.player-list-form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  min-height: 3rem;
  border-bottom: 1px solid var(--input-border);
}

.player-list-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.player-name-input {
  flex: 3 1 0;
  margin: 0.25rem 0.5rem;
  padding: 6px;
  min-width: 0;
}

.player-num-input {
  flex: 1 1 0px;
  width: 2.5rem;
  margin-left: 0.5rem;
  padding: 6px;
  min-width: 0;
}

.player-num-input::-webkit-inner-spin-button,
.player-num-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}