:root {
  margin: auto;
  /* Colors */
  --primary: #0080ff;
  --primary-dark: #0055cb;
  --primary-light: #69afff;
  --primary-select: #D6EBFF;
  --secondary: #003366;
  --secondary-dark: #000c3b;
  --secondary-light: #3f5c94;
  --delete: #c62828;
  --app-red: #CF1020;
  --app-green: #03C03C;
  --app-yellow: #FFFF00;
  --text-dark: rgb(0, 0, 0, 0.87);
  --text-dark-med: rgba(0, 0, 0, 0.6);
  --text-dark-disabled: rgba(0, 0, 0, 0.38);
  --text-light: rgba(255, 255, 255, 0.87);
  --text-light-med: rgba(255, 255, 255, 0.6);
  --text-light-disabled: rgba(255, 255, 255, 0.38);
  --input-border: rgb(204, 204, 204);
  color: var(--text-dark);

  /* widths */
  --phone: 320px;
  --tablet: 600px;
  --laptop: 1024px;
}

h1, h2 {
  margin: 0.75rem 0;
}